.class_btn_nav1{
    border-left: 6px solid #1b7505;
}

.class_btn_nav2{
    border-left: 6px solid #1b7505;
}

.class_btn_nav3{
    border-left: 6px solid #1b7505;
}

.class_btn_nav4{
    border-left: 6px solid #1b7505;
}
.class_btn_nav5{
    border-left: 6px solid #1b7505;
}
.class_btn_nav6{
    border-left: 6px solid #1b7505;
}
#intereses li{
background-color: whitesmoke;
margin-bottom: 8px;
padding: 8px;
border-radius: 6px;
}

#pasos li{
background-color: whitesmoke;
margin-bottom: 8px;
padding: 8px;
border-radius: 6px;
}

#multimedia article{
    border: 1px solid whitesmoke;
    background-color: #fbfbfb;

}

#multimedia h3{
    color: green;
}
/*=================================
BLOQUE 5
=================================*/
main figure{
    padding: 15px;
    border: 1px solid #dddddd;
    background-color: #f4f6f8;
    border-radius: 10px;
}
section form{
    padding: 15px;
    border: 1px solid #fafafa;
    border-radius: 10px;
    border: 1px dashed #a8a8a8;
}
/*==============================================
BLOQUE 6: NOTA IMPORTANTE
Se puede usar para resaltar información clave.
==============================================*/
.nota{
background-color: #fff8e6;
border-left: 5px solid #dba112;
padding: 12px;
font-size: 15px;
}